 .item{
    width: 100%;
    margin: 5px auto;
    margin-bottom: 10px;
    background:linear-gradient(to top,#081233,#566696);
    /* border:0.1px solid rgba(255, 255, 255, 0.425); */
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 60px;
    transition: 0.3s;
}

 .item:hover{
    box-shadow: 0px 0px 5px #fff;
    transition: 0.2s;
}

 .item > img{
    display: block;
    margin: 0px auto;
    width: 70%;
}

 .item > h2{
    color:#fff;
    margin:0;
    margin-right: 20px;
    float: right;
    line-height: 45px;
}

 .item > h1{
    color:#fff;
    float: left;
    margin: 0;
    position: relative;
    left: 30px;
    display: inline-block;
    direction: ltr;
}

/*  .item > h1 > .temp_icon{
    color: red;
} */

 .item > img.icon{
    width: 10px;
    display: inline-block;
    float: left;
    position: relative;
    left: 30px;
}

 .item > span{
    display: inline-block;
    color:#feffd6;
    width: 90%;
    text-align: center;
    margin-top:10px;
    padding-right: 10px;
}